<div class="container">
    <h2>{{ message }}</h2>

    <h4>Books List</h4>
    <table class="table table-bordered table-striped text-center">
        <thead class="table-dark">
            <tr>
                <th>S.No.</th>
                <th>Title</th>
                <th>Author</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in books">
                <td>{{$index + 1}}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{book.stock}}</td>
                <td>{{ book.price }}</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-sm btn-info rounded-2 text-black" ng-click="editBook(book.bookId)">Edit</button>
                        <button class="btn btn-sm btn-danger rounded-2 text-black"
                            ng-click="deleteBook(book.bookId)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>