<div ng-controller="NavbarController as nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
        <a class="navbar-brand" href="#!/">MyApp</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto d-flex">

                <!-- public links -->
                <li class="nav-item">
                    <a class="nav-link" href="#!/">Home</a>
                </li>
                <li class="nav-item" ng-if="!nav.isLoggedIn()">
                    <a class="nav-link" href="#!/login">Login</a>
                </li>

                <!-- admin links -->
                <li class="nav-item" ng-if="nav.hasAdminAccess()">
                    <a class="nav-link" href="#!/adminbook">Books</a>
                </li>
                <li class="nav-item" ng-if="nav.hasAdminAccess()">
                    <a class="nav-link" href="#!/addbook">Add Book</a>
                </li>
                
                <li class="nav-item" ng-if="nav.hasAdminAccess()">
                    <a class="nav-link" href="#!/admincat">Category</a>
                </li>

                <!-- user links -->
                <li class="nav-item" ng-if="nav.isLoggedIn() && nav.role === 'User'">
                    <a class="nav-link" href="#!/userbook">Books</a>
                </li>


                <!-- logout button -->
                <li class="nav-item" ng-if="nav.isLoggedIn()">
                    <button ng-click="nav.logout()" class="btn btn-danger btn-sm">LogOut</button>
                </li>

            </ul>
        </div>
    </nav>
</div>